<div class="grid-principal">
  <div class="botones-nivel1">
    <button class="boton-tabla" [ngClass]="{'active': tabla === 'usuario'}" (click)="setTabla('usuario')" id="usuarios">Usuarios</button>
    <button class="boton-tabla" [ngClass]="{'active': tabla === 'curso'}" (click)="setTabla('curso')" id="cursos">Cursos</button>
    <button class="boton-tabla" [ngClass]="{'active': tabla === 'inscripcion'}" (click)="setTabla('inscripcion')">Inscripción</button>
  </div>
  <div class="contenido-2">
    <app-usuario *ngIf="tabla === 'usuario'"></app-usuario>
    <app-clase *ngIf="tabla === 'curso'"></app-clase>
    <app-inscripcion *ngIf="tabla === 'inscripcion'"></app-inscripcion>
  </div>
</div>
