<div class="usuario">
  <div class="flex-agregar-boton">
    <h2>Lista de Usuarios</h2>
    <button class="boton-tabla agregar" (click)="handleAgregarClick()">
      <i class="fa fa-plus icon" id="AgregarUsuario"></i> Agregar
    </button>
  </div>
  <div class="flex-tabla">
    <table class="usuario-tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>E-mail</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="usuarios.length === 0">
          <td colspan="4" style="text-align: center; padding: 1rem;">No hay usuarios (todavía)</td>
        </tr>
        <tr *ngFor="let usuario of usuarios" [attr.key]="usuario.id">
          <td class="id">{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.email }}</td>
          <td class="acciones">
            <i class="fa fa-pen icon-action" (click)="handleUpdate(usuario.id, usuario.nombre, usuario.email)"></i>
            <i class="fa fa-trash icon-action" (click)="handleDelete(usuario.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
        <span class="close-icon" (click)="handleCloseModal()">×</span>
        <h3>{{ isAddOrUpdate ? 'Agregar' : 'Actualizar' }} Usuario</h3>
        <div class="agregar-inputs">
            <div class="agregar-nombre">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="nombre" />
            </div>
            <div class="agregar-email">
                <label>Email</label>
                <input type="text" [(ngModel)]="email" />
            </div>
            <div class="agregar-password">
                <label>Contraseña</label>
                <input type="password" [(ngModel)]="password" (input)="checkPasswordMatch()" />
            </div>
            <div class="agregar-password">
                <label>Confirma contraseña</label>
                <input type="password" [(ngModel)]="confirmPassword" (input)="checkPasswordMatch()" />
            </div>
            <p *ngIf="!passwordMatch" class="error">Las contraseñas no coinciden</p>
        </div>
        <div [ngClass]="{ 'modal-buttons': passwordMatch, 'modal-buttons-error': !passwordMatch }">
            <button (click)="handleAceptarClick()" [disabled]="!passwordMatch" class="aceptar">
                {{ isAddOrUpdate ? 'Agregar' : 'Actualizar' }}
            </button>
            <button class="cancelar" (click)="handleCloseModal()">Cancelar</button>
        </div>
    </div>
</div>


  <div *ngIf="showModalWarning" class="modal">
    <div class="modal-content">
      <span class="close-icon" (click)="handleCloseModal()">×</span>
      <h1>Error</h1>
      <p>No se pudo eliminar el usuario</p>
    </div>
  </div>
</div>

